/* Global reset for mobile */
* {
  margin: 0;
}

/* Navbar */
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Hero Section */
div.hero {
  background-size: 80px 80px;
  background-color: rgb(35, 35, 35);
  background-image: linear-gradient(
      to right,
      rgb(44, 44, 44) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(44, 44, 44) 1px, transparent 1px);
  padding: 20px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 0px;
  grid-template-areas: "i d";
}

div.hero img {
  grid-area: i;
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: auto;
}

div.hero .data {
  display: flex;
  flex-direction: column;
  grid-area: d;
  text-align: left;
  font-weight: bolder;
  color: white;
  font-family: sans-serif;
  justify-content: flex-start;
  margin-top: 100px;
}

div.hero .data p.name {
  margin-bottom: 30px;
  font-size: 18px;
}

div.hero .data h1.slogan {
  font-size: 60px;
  margin-bottom: 30px;
}

div.hero .data span.typed-text {
  font-size: 50px;
  color: rgba(148, 70, 226, 0.715);
  margin-bottom: 30px;
}

div.hero .data a {
  font-size: 40px;
}

/* Projects Section */
div.projects {
  background: rgba(0, 0, 0, 0.93);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  color: white;
  font-family: sans-serif;
}

div.projects h2 {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}

div.projects h3.header {
  grid-column: 1 / 2;
  text-align: left;
  font-size: 50px;
  margin-left: 175px;
  margin-right: auto;
}

div.projects .project {
  grid-column: 1 / 2;
  margin-left: 175px;
  margin-right: auto;
  margin-top: 70px;
  opacity: 20%;
}

div.projects .project h3.name {
  font-size: 25px;
  margin-bottom: 5px;
}

div.projects .project h3.desc {
  font-size: medium;
  color: rgb(98, 98, 98);
  margin-bottom: 5px;
}

div.projects .project h4 {
  font-weight: normal;
  margin-bottom: 20px;
}

div.projects .project h4 span {
  color: rgba(148, 70, 226, 0.715);
}

div.projects .in-view {
  opacity: 100%;
}

div.projects video {
  grid-column: 2 / 3;
  grid-row: 2 / 6;
  max-width: 80%;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  position: sticky;
  top: 80px;
  align-self: start;
  z-index: 10;
}

div.projects div.blank {
  grid-column: 1 / -1;
  margin-top: 40vh;
  display: block;
}

/* Footer Section */
div.footer {
  background: rgba(0, 0, 0, 0.897);
  display: flex;
  flex-direction: row;
  height: 30vh;
  color: white;
  font-weight: bolder;
  font-family: sans-serif;
  justify-content: space-around;
  align-items: center;
}

div.footer a {
  font-size: 40px;
}

/* Feedback Section */
.feedback-container {
  padding: 20px;
  background: rgba(0, 0, 0, 0.93);
  color: white;
  font-family: sans-serif;
  max-width: 600px;
  height: 70%;
  margin: 50px auto;
  border-radius: 10px;
}

.feedback-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.feedback-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.feedback-container input,
.feedback-container textarea,
.feedback-container button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgb(44, 44, 44);
  color: white;
}

.feedback-container button {
  background-color: rgba(148, 70, 226, 0.715);
  color: white;
  border: none;
  cursor: pointer;
}

.feedback-container button:hover {
  background-color: rgba(148, 70, 226, 0.815);
}

#message {
  display: none;
  margin: 20px;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  border-color: aquamarine;
}

.feedback-bg {
  background-size: 80px 80px;
  background-color: rgb(35, 35, 35);
  background-image: linear-gradient(
      to right,
      rgb(44, 44, 44) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(44, 44, 44) 1px, transparent 1px);
  height: 100vh;
}

.hidden {
  display: none;
}

/* Animation for Slide-In */
@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromBottom 1s forwards;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 1000px) {
  .navbar ul {
    justify-content: space-around;
    font-size: 3rem;
  }

  div.hero {
    margin-top: 60px;
    height: 35vh;
  }

  div.hero .data p.name {
    font-size: 1.5rem;
  }

  div.projects {
    position: static;
    height: 7300px;
    grid-template-rows: 0.3fr 1fr 3fr 3fr 3fr 3fr;
  }

  div.projects h3.header {
    display: none;
  }

  div.projects h2 {
    font-size: 3rem;
  }

  div.projects .project {
    font-size: 1.6em;
    grid-column: 1 / -1;
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
  }

  div.projects div.data {
    grid-column: 1 / -1;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 500px;
    align-self: start;
    z-index: 10;
  }

  div.projects video {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    height: 30vh;
    width: 100vh;
    position: sticky;
    border-radius: 1000px;
  }

  div.projects div.blank {
    display: none;
  }

  div.footer {
    height: 15vh;
  }

  .feedback-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background: rgba(0, 0, 0, 0.93);
    color: white;
    font-family: sans-serif;
    max-width: 800px;
    height: 70%;
    margin: 250px 50px;
    border-radius: 80px;
    font-size: 1.5rem;
  }

  .feedback-container input,
  .feedback-container textarea,
  .feedback-container button {
    width: 95%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background-color: rgb(44, 44, 44);
    color: white;
    align-self: center;
    font-size: 1.5rem;
  }

  .feedback-container button {
    display: block;
    background-color: rgba(148, 70, 226, 0.715);
    color: white;
    border: none;
    cursor: pointer;
    width: 250px;
    align-self: center;
    border-radius: 100px;
    padding: 30px;
  }

  .feedback-container button:hover {
    background-color: rgba(148, 70, 226, 0.815);
  }

  #message {
    display: none;
    margin: 20px;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
    border-color: aquamarine;
  }

  .feedback-bg {
    background-size: 80px 80px;
    background-color: rgb(35, 35, 35);
    background-image: linear-gradient(
        to right,
        rgb(44, 44, 44) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgb(44, 44, 44) 1px, transparent 1px);
    height: 80vh;
  }
}
